<div class="aside-content">
    
<h3><a class="pointer" routerLink="/AllGames">All Games</a></h3>

<div class="platforms my-5">
    <h3 class="my-2">Browse</h3>
    <div class="pc aside-item just-flex pointer my-2" routerLink="/platforms">
        <div class="icon icon-round mx-1 bg-light px-2 py-1">
            <i class="fa-solid fa-gamepad"></i>
        </div>
        <p>Platforms</p>
    </div>

    <div class="pc aside-item just-flex pointer my-2"  routerLink="/creators">
        <div class="icon icon-round mx-1 bg-light px-2 py-1">
            <i class="fa-solid fa-user"></i>
        </div>
        <p>Creators</p>
    </div>

    <div class="pc aside-item just-flex pointer my-2" routerLink="/collections">
        <div class="icon icon-round mx-1 bg-light px-2 py-1">
            <i class="fa-solid fa-folder-closed"></i>
        </div>
        <p>Collections</p>
    </div>

    <div class="pc aside-item just-flex pointer my-2">
        <div class="icon icon-round mx-1 bg-light px-2 py-1">
            <i class="fa-solid fa-comment"></i>
        </div>
        <p>Reviews</p>
    </div>
    
</div>

</div>
