<h3><a class="pointer">All Games</a></h3>

<div class="platforms my-5">
    <h3 class="my-2">Platforms</h3>
    <div class="pc aside-item just-flex pointer my-2">
        <div class="icon icon-round mx-1 bg-light px-2 py-1">
            <i class="fa-brands fa-windows"></i>
        </div>
        <p>PC</p>
    </div>

    <div class="pc aside-item just-flex pointer my-2">
        <div class="icon icon-round mx-1 bg-light px-2 py-1">
            <i class="fa-brands fa-playstation"></i>
        </div>
        <p>Playstation 4</p>
    </div>

    <div class="pc aside-item just-flex pointer my-2">
        <div class="icon icon-round mx-1 bg-light px-2 py-1">
            <i class="fa-brands fa-xbox"></i>
        </div>
        <p>Xbox One</p>
    </div>
    
</div>

<div class="genres my-5">
    <h3 class="my-2">Genres</h3>
    <div class="action aside-item just-flex pointer my-2">
        <div class="icon icon-round mx-1 bg-light px-2 py-1">
            <i class="fa-brands fa-windows"></i>
        </div>
        <p>Action</p>
    </div>

    <div class="shooter aside-item just-flex pointer my-2">
        <div class="icon icon-round mx-1 bg-light px-2 py-1">
            <i class="fa-brands fa-playstation"></i>
        </div>
        <p>Shooter</p>
    </div>

    <div class="racing aside-item just-flex pointer my-2">
        <div class="icon icon-round mx-1 bg-light px-2 py-1">
            <i class="fa-brands fa-xbox"></i>
        </div>
        <p>Racing</p>
    </div>

    <div class="Sports aside-item just-flex pointer my-2">
        <div class="icon icon-round mx-1 bg-light px-2 py-1">
            <i class="fa-brands fa-xbox"></i>
        </div>
        <p>Sports</p>
    </div>
    
</div>
