<div class="all-games">
    <div class="container">
        <app-aside></app-aside>
        <div class="games-content">
            <div *ngFor="let game of allGames; let i=index" class="game-item card-shadow pointer">
                <div class="game-img ">
                    <img [src]="game.background_image" class="w-100" alt="">
                </div>
                <div class="game-info">
                    <div class="game-name">
                        <h2>{{game.name}}</h2>
                    </div>
                    <div class="game-rate-info flex-between">
                        <div class="game-added flex-between icon-round my-4 px-1">
                            <i class="fa-solid fa-plus"></i>
                            <p>{{game.added}}</p>
                        </div>
                        <div class="game-rate">
                            <span>{{game.metacritic}}</span>
                        </div>
                    </div>

                    <div class="more-info">
                        <div class="more-info-item flex-between py-1">
                            <div class="info-title">
                                <p>Release date:</p>
                            </div>
                            <div class="game-date">
                                <p>{{game.released}}</p>
                            </div>
                        </div>

                        <div class="more-info-item flex-between py-1">
                            <div class="info-title">
                                <p>Genres:</p>
                            </div>
                            <div class="game-date">
                                <span *ngFor="let genre of game.genres">{{genre.name}}, </span>
                            </div>
                        </div>

                        <div class="more-info-button flex-between py-3 icon-round bg-light px-2 my-5">
                            <button class="flex-between w-100 pointer">
                                <p class="color-text">Show more like this</p>
                                <div class="fa-solid fa-angle-right color-text"></div>
                            </button>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>