.all-games{
    margin-top: 100px;
    .container{
        display: flex;
        app-aside{
            width: 15%;
        }
        .games-content{
            width: 85%;
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            .game-item{
                background-color: var(--medium-color);
                width:calc((100% / 4) - 1.5rem);
                position: relative;
                border-radius: 10px;
                .child-item{
                    border-radius: 10px;
                    background-size: cover;
                    padding: 5px 0px;
                    .collection-info{
                        padding: 15px;
                        .collection-creator{
                            span{
                                font-size: 12px;
                                font-weight: lighter;
                            }
                            .mx-1{
                                color:rgba(255, 255, 255, 0.621);
                            }
                        }
                        .collection-name{
                            position: relative;
                            transition: 0.1s all ease;
                            &:hover{
                                color:rgba(255, 255, 255, 0.564)
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                bottom: -5px;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 1px;
                                width: 150px;
                                background-color: rgba(255, 255, 255, 0.621);
                            }
                        }
                        .collection-button{
                            button{
                                background-color: #7e7e7ea5;
                                padding-inline: 30px;
                                &:hover{
                                    background-color: white;
                                    color: black;
                                }
                            }
                        }

                        .collection-info{
                            .popular-items{
                                font-size: 13px;
                                font-family: sans-serif ,Tahoma, Verdana ;
                                font-weight: bold;
                                padding-bottom: 7px;
                                border-inline: 1px solid rgba(109, 109, 109, 0.236);
                                span{
                                    color: rgb(198, 198, 198);
                                }
                            }
                        }

                        .collection-images{
                            position: relative;
                            margin-block: 30px;
                            max-width: 250px;
                            .image{
                                img{
                                    max-height: 50px;
                                    min-height: 50px;
                                    max-width: 90px;
                                    min-width: 90px;
                                    border-radius: 10px;
                                }
                                &:nth-of-type(1){
                                    position: absolute;
                                    top:50%;
                                    left:5%;
                                }
                                &:nth-of-type(2){
                                    position: absolute;
                                    top:10%;
                                    left:50%;
                                    transform: translateY(10px, 10px);
                                    transform: translateX(-50%);
                                    z-index: 66;
                                    img{
                                        min-height: 70px !important;
                                        min-width: 120px;
                                    }
                                }
                                &:nth-of-type(3){
                                    position: absolute;
                                    top:50%;
                                    right:5%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
