@mixin globalStyles {
    html {
        scroll-behavior: smooth;
      }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        transition: 0.4s ease all;
    }
    body {
        font-family: 'main-font';
        overflow-x: hidden;
    }
    button {
        outline: none;
        border: none;
    }
    a {
        text-decoration: none;
    }
    ul {
        list-style-type: none;
        li {
            display: inline-block
        }
    }
}

@mixin inputStyle {
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
}

@mixin framework{
    .flex-between{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .flex-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flex-around{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .just-flex{
        display: flex;
        align-items: center;
    }
    .wrap{
        flex-wrap: wrap;
    }
    
    //====== Margin =======
    .my-1{
        margin-block:5px;
    }
    .my-2{
        margin-block:10px;
    }
    .my-3{
        margin-block:15px;
    }
    .my-4{
        margin-block:20px;
    }
    .my-5{
        margin-block:25px;
    }
    .mx-1{
        margin-inline:5px;
    }
    .mx-2{
        margin-inline:10px;
    }
    .mx-3{
        margin-inline:15px;
    }
    .mx-4{
        margin-inline:20px;
    }
    .mx-5{
        margin-inline:25px;
    }
    //====== Padding =======
    .py-1{
        padding-block:5px;
    }
    .py-2{
        padding-block:10px;
    }
    .py-3{
        padding-block:15px;
    }
    .py-4{
        padding-block:20px;
    }
    .py-5{
        padding-block:25px;
    }

    .px-1{
        padding-inline:5px;
    }
    .px-2{
        padding-inline:10px;
    }
    .px-3{
        padding-inline:15px;
    }
    .px-4{
        padding-inline:20px;
    }
    .px-5{
        padding-inline:25px;
    }

    /*====== WIDTHS =====*/
    .w-100{
        width:100%
    }
}

@mixin classes{
    .container {
        width:97%;
        margin: auto;
    // make it responsive 
        @media (max-width:768px){
            width: 97% !important;
        }
    }
    .card-shadow{
        box-shadow: 1px 0px 6px var(--medium-color), 
        -1px 0px 1px var(--medium-color);
    }
    .section-padding {
        padding-block: 60px;
    /*==== make it responsive in mobile app ======*/
        @media (max-width:768px){
            padding-block: 30px;
        }
    }
    .pointer {
        cursor: pointer;
    }
    .text-center{
        text-align: center;
    }
}

.icon-round{
    border-radius:5px
}
// color variables 
.color-text{
    color:var(--text-color)
}
.color-dark{
    color:var(--dark-color)
}
.color-medium{
    color:var(--medium-color)
}
.color-light{
    color:var(--light-color)
}
//background variables
.bg-text{
    background-color: var(--text-color)
}
.bg-dark{
    background-color: var(--dark-color)
}
.bg-medium{
    background-color: var(--medium-color)
}
.bg-light{
    background-color: var(--light-color)
}