.g-d{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-block: 100px;
    .container{
        app-aside{
            width: 25%;
        }
        .g-d-content{
            width: 75%;
            .left-content{
                width:60%;
                .g-d-title{
                    .release{
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: lighter;
                        font-size: 14px;
                        span{
                            background-color: white;
                            color:black;
                            padding: 3px 7px;
                        }
                    }
                    .title{
                        font-size: 45px;
                    }
                }
                .g-d-buttons{
                    button {
                        width: 150px;
                        text-align: left;
                        padding: 5px 15px;
                        position: relative;
                        overflow: hidden;
                        p{
                            color: rgb(200, 200, 200);
                        }
                        span{
                            color:white;
                            font-size: 18px;
                        }
                        .icon {
                            position: absolute;
                            right: -10px;
                            width: 35px;
                            height: 35px;
                            font-size:22px;
                            border-radius: 50%;
                        }
                    }
                    .mygames-button {
                        background-color: white;
                        border-radius: 7px;
                        &:hover{
                            background-color: rgb(171, 171, 171);
                        }
                        button{
                            width: 150px;
                            padding: 5px 10px;
                            span{
                                font-size: 18px;
                                color: black;
                            }
                            p{
                                text-align: left;
                                color: rgb(200, 200, 200);
                            }
                            .icon {
                                background:linear-gradient(to bottom, rgb(56, 234, 83), rgb(13, 160, 0));
                            }
                        }
                    }
                    .wishlist-button{
                        border-radius: 7px;
                        border: 2px solid white;
                        &:hover{
                            border: 2px solid rgb(184, 184, 184);
                        }
                        .icon {
                            font-size: 30px;
                        }
                    }
                    .collection-button{
                        &:hover{
                            span{
                                color:rgb(184, 184, 184);
                            }
                        }
                    }
                }
                .g-d-about{
                    margin-top: 40px;
                    .about-p{
                        line-height: 1.7;
                        overflow: hidden;
                    }
                    button{
                        background-color: white;
                        padding: 3px 7px
                    }
                    .max-height{
                        max-height: 200px;
                    }
                    .gradient{
                        mask-image:linear-gradient(#fff, rgba(255,255,255, 0));
                        -webkit-mask-image: linear-gradient(#fff, rgba(255,255,255, 0));
                    }
                }
                .g-d-ratings{
                    p{
                        font-size: 30px;
                    }
                    span{
                        color:rgb(200, 200, 200);
                        font-size: 14px;
                    }
                    .top{
                        border-inline: 1px solid white;
                    }
                }
                .g-d-website{
                    a{
                        border-bottom: 1px solid white;
                        &:hover{
                            border:none
                        }
                    }
                }
                .g-d-developers{
                    .all-developers{
                        gap: 1rem;
                        .developer{
                            background-position: center center;
                            background-size: cover;
                            padding: 30px 70px;
                            width:calc((100% / 3 ) - 1rem);
                            .dev-info{
                                .dev-name{
                                    position: relative;
                                    transition: 0.1s all ease;
                                    font-size: 12px;
                                    &:hover{
                                        color:rgba(255, 255, 255, 0.564)
                                    }
                                    &::after{
                                        content: '';
                                        position: absolute;
                                        bottom: -5px;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        height: 1px;
                                        width: 150px;
                                        background-color: rgba(255, 255, 255, 0.621);
                                    }
                                }
                                .dev-button{
                                    button{
                                        background-color: #7e7e7ea5;
                                        padding-inline: 25px;
                                        &:hover{
                                            background-color: white;
                                            color: black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .g-d-reviews{
                    textarea{
                        resize: none; 
                        outline: none;
                        min-height: 150px;
                    }
                    .reviews-button{
                        text-align: end;
                        button{
                            font-size: 16px;
                            &:hover{
                                background-color: var(--dark-color);
                                color:white;
                            }
                        }
                    }

                    .reviews-published{
                        h4{
                            font-size: 22px;
                        }
                        p{
                            font-size: 14px;
                        }
                        .review-icon{
                            text-align: end;
                        }
                        .del-btn{
                            button{
                                color: rgb(207, 0, 0);
                                border: 1px solid red;
                                &:hover{
                                    padding-inline:20px;
                                }
                            }
                        }
                    }
                }
            }
            .right-content{
                width:40%;
                .game-images{
                    justify-content: center;
                    column-gap: 0.5rem;
                    .game-image{
                        width: calc((100% / 2) - 0.5rem);
                        &:nth-of-type(1) {
                            width: 100%;
                        }
                        position: relative;
                        &:hover:not(:nth-of-type(1), :nth-of-type(6)) {
                            z-index: 6;
                            img{
                                position: absolute;
                                left: 0;
                                top: 0;
                                transform: scale(1.5);
                            }
                        }
                    }
                }
            }
        }
    }
}