        <div class="g-d-content flex gx-3">
            <div class="left-content">
                <div class="g-d-title">
                    <div class="release just-flex">
                        <span class="icon-round">{{gameDetailsData.released | date}}</span>
                        <p class="mx-2">AVERAGE PLAYTIME: {{gameDetailsData.playtime}} HOURS</p>
                    </div>
                    <div class="title my-3">
                        <h2>{{gameDetailsData.name}}</h2>
                    </div>
                </div>
                <div class="g-d-buttons flex gx-2">
                    <div class="mygames-button game-button">
                        <button class="flex-between pointer">
                            <div>
                                <p>Add to</p>
                                <span>My games</span>
                            </div>
                            <div class="icon flex-center">
                                <i class="fa-solid fa-plus color-text"></i>
                            </div>
                        </button>
                    </div>
                    <div class="wishlist-button">
                        <button  class="flex-between pointer">
                            <div>
                                <p>Add to</p>
                            <span>Wishlist</span>
                            </div>
                            <div class="icon flex-center">
                                <i class="fa-solid fa-gift color-text"></i>
                            </div>
                        </button>
                    </div>
                    <div class="collection-button">
                        <button  class="flex-between pointer">
                            <div>
                                <p>Add to</p>
                                <span>Collection</span>
                            </div>
                            <div class="icon flex-center">
                                <i class="fa-regular fa-folder-open color-text"></i>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="g-d-ratings just-flex">
                    <div class="rate my-5">
                        <div class="just-flex">
                            <p class="fw-bold">{{gameDetailsData.ratings[0].title}}</p>
                            <i class="fa-solid fa-bullseye mx-2"></i>
                        </div>
                        <span class="fw-light">{{gameDetailsData.ratings[0].count}}</span>
                    </div>
                    <div class="top px-5 mx-5">
                        <p class="fw-bold">#1</p>
                        <span class="fw-light color-light">{{gameDetailsData.genres[0].name}}</span>
                    </div>
                    <div class="meta">
                        <p class="fw-bold">{{gameDetailsData.metacritic}}</p>
                        <span class="fw-light">Metascore</span>
                    </div>
                </div>
                <div class="g-d-website">
                    <p>Website</p>
                    <a [href]="gameDetailsData.website" target="_blank">{{gameDetailsData.website}}</a>
                </div>
                <div class="g-d-about my-5">
                    <h3 class="my-1">ABOUT</h3>
                    <div  class="about-p max-height gradient">
                        <p>
                            {{gameDetailsData.description_raw}}
                        </p>
                    </div>
                    <button class="show-more icon-round"  *ngIf="!showAll" (click)="showMore($event)">
                        Show More
                    </button>
                    <button class="show-less icon-round" *ngIf="showAll"  (click)="showLess($event)">
                        Show Less
                    </button>
                </div>
                <div class="g-d-developers my-5 py-5">
                    <h3 class="my-1">DEVELOPERS</h3>
                    <div class="all-developers flex wrap">
                        <div *ngFor="let dev of gameDetailsData.developers" class="developer flex-center py-3 px-2 icon-round" [ngStyle]="{'background-image':gradientBackground(dev.image_background)}">
                            <div class="dev-info">
                                <div class="dev-name text-center pointer">
                                    <h2>{{dev.name}}</h2>
                                </div>
                                <div class="dev-button text-center my-3 ">
                                    <button class="py-1 color-text icon-round pointer">Follow</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-d-reviews">
                    <h3 class="my-3 text-center">REVIEWS</h3>
                    <div class="reviews-content">
                        <div class="reviews-input">
                            <textarea id="revInput" class="w-100 bg-dark color-text py-2 px-1 icon-round"></textarea>
                        </div>
                        <div class="reviews-button my-2">
                            <button class="bg-text py-2 px-5 icon-round pointer" (click)="addReview()">Publish</button>
                        </div>
                        <div *ngFor="let rev of allReviews; let i =index" class="reviews-published my-4 bg-light px-5 py-4 icon-round">
                            <div class="user-name">
                                <h4>Username</h4>
                            </div>
                            <div class="user-review fw-light my-5">
                                <p>{{rev}}</p>
                            </div>
                            <div class="review-footer flex-between">
                                <div class="del-btn">
                                    <button (click)="deleteReview(i)" class="py-1 px-3 icon-round pointer">
                                        Delete
                                    </button>
                                </div>
                                <div class="review-icon"  (click)="addLove()">
                                    <i class="fa-solid fa-heart color-text mx-2 pointer"></i>
                                    <span>{{loved}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-content">
                <div class="game-images flex wrap">
                    <div  *ngFor="let img of screenshotsData"  class="game-image">
                        <img [src]="img.image" class="w-100 icon-round">
                    </div>
                </div>
            </div>
        </div>

